<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.rapgru.conditionalclobber" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Conditional Clobber</name>
    <description>
        A multiplatform app that predicts the type of clothing you should put on in the morning.
    </description>
    <author email="conditional.clobber@gmail.com" href="http://github.com/rapgru/conditional-clobber">
        Conditional Clobber Team
    </author>
    <content src="http://172.27.92.193:8080" />
<allow-navigation href="http://172.27.92.193:8080" />
<allow-navigation href="http://172.27.92.193:8080" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="http://*:*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:usesCleartextTraffic="true"/>
        </edit-config>
        <!--<edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
            <uses-sdk android:minSdkVersion="16" android:maxSdkVersion="23" />
        </edit-config>-->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
